html {
	overflow-y: scroll;
}

body {
	background-image: url(img/bfiryn_top_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

img {
	border: 0px;
}

pre {
	border-style: dotted;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-color: #888888;
	background-color: #EEEEEE;
}

div.centered {
	text-align: center;
}

table#header {
	border-collapse: collapse;
}

td.header_image {
	background-image: url(img/bfiryn_header.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 198px;
}


h2.title > a {
	color: inherit;
}

p.postmetadata {
	font-size: 75%;
	margin: 0;
	margin-top: -7px;
	margin-left: 2px;
	color: #999;
}

p.postmetadata a {
	color: inherit;
}

div.page-header > div.picture {
	float: right;
	-webkit-box-shadow: 0px 0px 4px 1px;
	box-shadow: 0px 0px 4px 1px;
	border-radius: 4px;
	border: 1px solid #D4D4D4;
}

div.page-header > div.picture img {
	border-radius: 4px;
}

div.entry {
	text-align: justify;
}

